body{
	background-color: white;
}

#banner {
	left:0;
	width: 100%;
	vertical-align: middle;
    text-align:left;
	font: 12pt sans-serif;
	background-color: #115511;
	color:white;
}

#index {
    float: left;
    width: 30%;
    height: 93%;
	top: 0%;
	border-color: #115511;
	overflow-y: scroll;
	overflow-x: hidden;
}

#mapArea {
	display: inline-block;
	width: 40%;
	top: 0%;
	height: 93%;
    border: 1px solid #115511;
}

#infoPanel {
	float: right;
	width: 30%;
}

#infoLabel {
	position: relative;
	top: 0;
	left: 0;
	height: 25px;
	width: 100%;
	border-color: #115511;
	vertical-align: middle;
    text-align:left;
	font: 12pt sans-serif;
    color:white;
	background-color: #115511;
    border: 1px solid black;
}

#infoArea {
	padding: 4px;
	position: relative;
	left:0;
	top: 4%;
	height: 52%;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	border-color: #115511;
	font: 10pt sans-serif;
	background-image: url("../images/dunveganoceras.png");
}

#lithoLabel {
	position: relative;
	left:0;
	top: 60%;
	height: 25px;
	width: 100%;
	vertical-align: middle;
    text-align:left;
	font: 12pt sans-serif;
    color:white;
	background-color: #115511;
    border: 1px solid black;
}

#lithoArea {
	padding: 4px;
	position: relative;
	left:0;
	top: 64%;
	height: 36%;
	width: 100%;
	border-color: #115511;
	overflow: scroll;
	overflow-x: hidden;
	font: 10pt sans-serif;
	background-image: url("../images/tepeeButtes.png");
}

table {
    border-collapse: collapse;
	font-family: sans-serif;
	font-size: 10px;
}

* {
    box-sizing: border-box;
}

.species {
	font-style: italic;
}

.imgLink {
	cursor: pointer;
}

.mIcon {
    cursor: pointer;
}

.galleryDiv {
	height: 0px;
	width: 0px;
}